---
import { session_get, session_set } from '@src/session.ts';

// already connected ?
if (session_get('who'))
  return Astro.redirect('/');

const who = "hello world"
session_set('who', who);
const idUser = 1
session_set('idUser', idUser);
---

<h1>Sign in</h1>
<div>Static sign in as '{who}' (idUser={idUser})</div>

<div>
  <a href="/">Home</a>
</div>