---
import { session_get, session_set } from '@src/session.ts';

// not connected ?
if (!session_get('who'))
  return Astro.redirect('/');

session_set('who', undefined)
session_set('idUser', undefined)
---

<h1>Sign out</h1>
<div>Bye, but you still have a cookie for basic state management</div>

<div>
  <a href="/">Home</a>
</div>
